<div class="">
    <div class="align-items-center justify-content-center">
        <div class="row col-12">
            <img src="../assets/Homecover.jpeg" class="coverPic" alt="">
        </div>
    </div>
    <div class="container mt-5">
        <div class="row col-10">
            <div class="accordion"id="accordionExample">
                <div class="accordion-item mt-2">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Step 1 : Niche Products
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show"  data-bs-parent="#accordionExample">
                    <div class="accordion-body" style="background-color: #EAF0F6;" >
                      <h4 class="mb-4"><strong>Baby Products</strong></h4>
                      
                        <div class="row row-cols-1 row-cols-md-3 g-4 mx-4">
                            <div class="col">
                              <div class="card h-80" style="width: 15rem;">
                                <img src="../assets/image1.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Baby Carriers</h5>
                                  <p class="card-text">Your little one was carried for 9 long months in the womb. While that may sometimes have been a challenge for the person doing...<strong>See More</strong></p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card h-80" style="width: 15rem;">
                                <img src="../assets/image2.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Baby Diapers</h5>
                                  <p class="card-text">Diaper changing might seem complicated at first. But with a little practice, you'll find that keeping your baby clean and dry is easy.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card h-80" style="width: 15rem;">
                                <img src="../assets/image3.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Baby Skin Care</h5>
                                  <p class="card-text">Your newborn's skin is so sensitive. Don't worry common during baby's first year. Learn how to keep your baby's skin...<strong>See More</strong></p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card h-80" style="width: 15rem;">
                                <img src="../assets/image4.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Bottle Feeding</h5>
                                  <p class="card-text">The practice of feeding an infant a substitute for breast milk.clusively breastfeeding for all full-term, healthy infants for the first 6 months of life..<strong>See More</strong></p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                                <div class="card h-80" style="width: 15rem;">
                                  <img src="../assets/image5.jpeg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Baby Monitors</h5>
                                    <p class="card-text">Electronic device consisting of a one-way radio or video transmitter with a portable receiver for remotely listening to or observing...<strong>See More</strong></p>
                                  </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-80" style="width: 15rem;">
                                  <img src="../assets/image6.jpeg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Baby Teethers</h5>
                                    <p class="card-text">A teether, teething toy, or chew toy is a device given to teething  of the head and infants. Most modern teethers are silicone, but can also...<strong>See More</strong></p>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="mb-4 mt-5"><strong>Kitchen Tools</strong></h4>
                      
                        <div class="row row-cols-1 row-cols-md-3 g-4 mb-4 mx-4">
                            <div class="col">
                              <div class="card h-80" style="width: 15rem;">
                                <img src="../assets/image7.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Food Stainers</h5>
                                  <p class="card-text">A kitchen device that is most used to strain liquids away from other ingredients but also to ocassionally sift fine ingredients...<strong>See More</strong></p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card h-80" style="width: 15rem;">
                                <img src="../assets/image8.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Kitchen Knives</h5>
                                  <p class="card-text">A kitchen knife is any knife that is intended to be used in food preparation..Kitchen knives can be made from several different materials.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card h-80" style="width: 15rem;">
                                <img src="../assets/image9.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Peelers</h5>
                                  <p class="card-text">A peeler is a kitchen tool consisting of a metal blade with a slot with a sharp edge attached to a handle, used to remove... <strong>See More</strong></p>
                                </div>
                              </div>
                            </div>
                        </div>
                                               
                      
                    </div>
                </div>
            </div>

                <div class="accordion-item mt-2">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Step 2 : Get Hosting & Domain
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        
                    </div>
                  </div>
                </div>

                <div class="accordion-item mt-2">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Step 3 : Finding Keywords
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h5  class="mt-4 mb-4" style="color: #2E3A5E; font-size: 20px;">Tools to find keywords</h5>

                        <div>
                            <div class="row mt-5">
                                <div class="col-12 col-md-6"> <!-- Half width on smaller screens, full width on md and larger -->
                                  <div class="d-flex align-items-center">
                                    <button type="button" class="btn btn-success" style="background-color: #11B98F;  width: 140px;"><strong>#1 Tool</strong></button>
                                    <h6 style="font-weight: 450;"class="ms-5">Keyword.io</h6>
                                  </div>
                                </div>
                            </div>
                              
                            <div class="row mt-5 mb-4">
                                <div class="col-12 col-md-6"> <!-- Half width on smaller screens, full width on md and larger -->
                                    <div class="d-flex align-items-center">
                                      <button type="button" style="color: #11B98F; width: 140px;" class="btn mt-2 btn-outline-success"><strong>#2 Tool</strong></button>
                                      <h6 style="font-weight: 450;"class="ms-5">Keyword Sheeter</h6>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6"> <!-- Half width on smaller screens, full width on md and larger -->
                                  <div class="d-flex align-items-center">
                                    <button type="button" style="color: #11B98F; width: 140px;" class="btn mt-2 btn-outline-success"><strong>#3 Tool</strong></button>
                                    <h6 style="font-weight: 450;" class="ms-5">Keyword Sheeter</h6>
                                  </div>
                                </div>
                            </div>
                              
                            
                            
                            
                        </div>

                    </div>
                  </div>
                </div>

                <div class="accordion-item mt-2">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Step 4 : Find Number of Searches
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <h5  class="mt-4 mb-4" style="color: #2E3A5E; font-size: 20px;">Tools to find keywords</h5>

                        <div>
                            <div class="row mt-5">
                                <div class="col-12 col-md-6"> <!-- Half width on smaller screens, full width on md and larger -->
                                  <div class="d-flex align-items-center">
                                    <button type="button" class="btn btn-success mt-2" style="background-color: #11B98F;  width: 140px;"><strong>#1 Tool</strong></button>
                                    <h6 style="font-weight: 450;"class="ms-5">SemScoop</h6>
                                  </div>
                                </div>
                            </div>
                              
                            <div class="row mt-5 mb-4">
                                <div class="col-12 col-md-6"> <!-- Half width on smaller screens, full width on md and larger -->
                                    <div class="d-flex align-items-center">
                                      <button type="button" style="color: #11B98F; width: 140px;" class="btn btn-outline-success"><strong>#2 Tool</strong></button>
                                      <h6 style="font-weight: 450;"class="ms-5">LinkGraph</h6>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6"> <!-- Half width on smaller screens, full width on md and larger -->
                                  <div class="d-flex align-items-center">
                                    <button type="button" style="color: #11B98F; width: 140px;" class="btn mt-2 btn-outline-success"><strong>#3 Tool</strong></button>
                                    <h6 style="font-weight: 450;" class="ms-5">SearchVolume.io</h6>
                                  </div>
                                </div>
                            </div>
                              
                            
                            
                            
                        </div>
                      </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>